In [1]:
import geopandas as gpd
import pandas as pd
from shapely import wkt

In [2]:
files = pd.read_csv('result/rsrp-combine-alljabo-40x40.csv')

In [3]:
files['geometry_polygon'] = files['geometry_polygon'].apply(wkt.loads)

In [4]:
files

                                          geometry_polygon        rsrp
0        POLYGON ((105.123207 -6.065623, 105.123566 -6.... -115.000000
1        POLYGON ((105.123566 -6.066342, 105.123926 -6.... -114.000000
2        POLYGON ((105.123566 -6.066701, 105.123926 -6.... -114.000000
3        POLYGON ((105.123566 -6.067061, 105.123926 -6.... -103.000000
4        POLYGON ((105.176039 -6.203633, 105.176398 -6.... -100.171053
...                                                    ...         ...
3551602  POLYGON ((107.64296 -6.164818, 107.64332 -6.16...  -86.500000
3551603  POLYGON ((107.64296 -6.165177, 107.64332 -6.16...  -87.000000
3551604  POLYGON ((107.64296 -6.188538, 107.64332 -6.18... -102.000000
3551605  POLYGON ((107.64332 -6.165896, 107.643679 -6.1...  -91.500000
3551606  POLYGON ((107.64332 -6.166615, 107.643679 -6.1...  -90.000000

[3551607 rows x 2 columns]

In [5]:
files = gpd.GeoDataFrame(files, geometry='geometry_polygon')

In [6]:
files

                                          geometry_polygon        rsrp
0        POLYGON ((105.12321 -6.06562, 105.12357 -6.065... -115.000000
1        POLYGON ((105.12357 -6.06634, 105.12393 -6.066... -114.000000
2        POLYGON ((105.12357 -6.06670, 105.12393 -6.066... -114.000000
3        POLYGON ((105.12357 -6.06706, 105.12393 -6.067... -103.000000
4        POLYGON ((105.17604 -6.20363, 105.17640 -6.203... -100.171053
...                                                    ...         ...
3551602  POLYGON ((107.64296 -6.16482, 107.64332 -6.164...  -86.500000
3551603  POLYGON ((107.64296 -6.16518, 107.64332 -6.165...  -87.000000
3551604  POLYGON ((107.64296 -6.18854, 107.64332 -6.188... -102.000000
3551605  POLYGON ((107.64332 -6.16590, 107.64368 -6.165...  -91.500000
3551606  POLYGON ((107.64332 -6.16662, 107.64368 -6.166...  -90.000000

[3551607 rows x 2 columns]

In [ ]:
files.to_file('result/rsrp-combine-alljabo-40x40.tab', driver='MapInfo File')