In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
test = pd.read_csv('sample-folder/mdt_result_8009-MDT_20230630_21.csv')

/tmp/ipykernel_7582/960798034.py:1: DtypeWarning: Columns (9,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv('sample-folder/mdt_result_8009-MDT_20230630_21.csv')

In [3]:
test

,date,hour,site,enodebid,ci,mmes1apid,longitude,latitude,altitude,rsrp_serving,...,rsrp_4,rsrq_4,support_L900_FDD,support_L1800_FDD,support_L2600_TDD,CA_capable,CA_3CC_capable,MIMO4x4,ENDC,NR_SA
0,20230630.0,13,4424749E_CO,420570,8,1053820935,106.813665,-6.190549,0,-77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20230630.0,14,4424749E_CO,420570,4,229115960,106.813730,-6.189541,35,-78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20230630.0,14,4424749E_CO,420570,6,209197547,106.813665,-6.188478,0,-80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20230630.0,14,4424749E_CO,420570,6,209197547,106.813730,-6.188478,0,-73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20230630.0,14,4424749E_CO,420570,4,1742740888,106.814330,-6.188715,0,-88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453605,20230630.0,14,4443275E_CO,440207,5,2375549408,106.814009,-6.305487,63,-75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453606,20230630.0,14,4443275E_CO,440207,15,1072174625,106.815167,-6.303942,27,-80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453607,20230630.0,14,4443275E_CO,440207,6,1723341283,106.814330,-6.301968,69,-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453608,20230630.0,14,4443275E_CO,440207,7,30412789,106.815618,-6.302354,0,-94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453609,20230630.0,14,4443275E_CO,440207,8,597690309,106.816841,-6.305004,0,-96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN