In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('result/prohet-activeuser-result-multiprocess-5-edit.csv')
data1 = pd.read_excel('sample-folder/W35 - Data.xlsx')

In [3]:
data['ds'] = pd.to_datetime(data['ds'])

In [4]:
data = data[data['ds'] == '2023-08-28']

In [5]:
data

                 ds          y   SECTOR-ID    Remark
6        2023-08-28  37.990274      Site-1  Forecast
540      2023-08-28  13.766504      Site-2  Forecast
1074     2023-08-28  24.796451      Site-3  Forecast
1608     2023-08-28  13.777128      Site-4  Forecast
2142     2023-08-28  24.117944      Site-5  Forecast
...             ...        ...         ...       ...
13455355 2023-08-28  33.668512  Site-25240  Forecast
13455866 2023-08-28   9.346186  Site-25241  Forecast
13456377 2023-08-28   9.662727  Site-25242  Forecast
13456911 2023-08-28  16.621311  Site-25243  Forecast
13457445 2023-08-28   8.702823  Site-25244  Forecast

[25244 rows x 4 columns]

In [6]:
data1

        SECTOR-ID   2023-W35
0          Site-1  51.893721
1          Site-2  12.659837
2          Site-3  61.577905
3          Site-4  22.584976
4          Site-5  40.034944
...           ...        ...
23179  Site-23180  12.300263
23180  Site-23181  39.839566
23181  Site-23182  12.013908
23182  Site-23183  13.103469
23183  Site-23184   8.299401

[23184 rows x 2 columns]

In [7]:
data = data.merge(data1, how='inner', on='SECTOR-ID')

In [8]:
data['Delta'] = data['2023-W35'] - data['y']

In [9]:
data

              ds          y   SECTOR-ID    Remark   2023-W35      Delta
0     2023-08-28  37.990274      Site-1  Forecast  51.893721  13.903447
1     2023-08-28  13.766504      Site-2  Forecast  12.659837  -1.106668
2     2023-08-28  24.796451      Site-3  Forecast  61.577905  36.781454
3     2023-08-28  13.777128      Site-4  Forecast  22.584976   8.807849
4     2023-08-28  24.117944      Site-5  Forecast  40.034944  15.917000
...          ...        ...         ...       ...        ...        ...
23179 2023-08-28  31.372703  Site-23180  Forecast  12.300263 -19.072440
23180 2023-08-28  30.170536  Site-23181  Forecast  39.839566   9.669030
23181 2023-08-28  13.315131  Site-23182  Forecast  12.013908  -1.301222
23182 2023-08-28  25.804924  Site-23183  Forecast  13.103469 -12.701455
23183 2023-08-28  78.115150  Site-23184  Forecast   8.299401 -69.815750

[23184 rows x 6 columns]

In [10]:
data.to_excel('result/prophet-w35-delta.xlsx', index=False)