In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
mdt_df = pd.read_csv('MDT_Folder/20230330/18/mdt_result.zip', usecols=[0,1,2,3,5,6,7,8,9])

In [6]:
mdt_df.sort_values(['mmes1apid', 'rsrp_serving'], inplace=True)

In [8]:
mdt_df['hour'] = mdt_df['hour'] + 7

In [9]:
mdt_df.geopandas

,date,hour,site,enodebid,mmes1apid,longitude,latitude,altitude,rsrp_serving
935425,20230330,18,4453890E_CO,451075,12,107.158297,-6.335367,0,-86
935416,20230330,18,4453890E_CO,451075,12,107.158490,-6.335388,0,-86
935433,20230330,18,4453890E_CO,451075,12,107.158383,-6.335356,0,-85
935440,20230330,18,4453890E_CO,451075,12,107.158576,-6.335378,0,-85
2226643,20230330,18,4453980E,451171,33,107.159177,-6.163094,0,-125
...,...,...,...,...,...,...,...,...,...
2031360,20230330,18,4412766E_CO,410680,2264407724,106.923207,-6.100867,0,-101
2031388,20230330,18,4412766E_CO,410680,2264407923,106.925310,-6.102819,0,-76
1643811,20230330,18,4415100E_CO,410216,2264407984,106.926983,-6.183704,0,-84
1643822,20230330,18,4415100E_CO,410216,2264407984,106.926146,-6.183758,0,-84
1643842,20230330,18,4415100E_CO,410216,2264407984,106.925031,-6.183565,0,-83

In [4]:
{c: i for i, c in enumerate(mdt_df.columns)}

{'date': 0,
 'hour': 1,
 'site': 2,
 'enodebid': 3,
 'mmes1apid': 4,
 'longitude': 5,
 'latitude': 6,
 'altitude': 7,
 'rsrp_serving': 8}