In [1]:
import dask.dataframe as dask_pd
import dask_geopandas as dask_gpd
import geopandas as gpd

In [2]:
# dask_df_mdt =  dask_pd.read_csv('Compile-Files/mdt*.csv')
dask_df_mdt =  dask_pd.read_csv('Compile-Files/mdt*.csv', usecols=[2,3,4,6,7,8,9])

In [4]:
dask_df_mdt.tail(5)

,site,enodebid,ci,longitude,latitude,altitude,rsrp_serving
549917,4465184E_CO,462121,4,106.973310,-6.868558,0,-83
549918,4465184E_CO,462121,4,106.973310,-6.868558,0,-86
549919,4465184E_CO,462121,4,106.973310,-6.868558,0,-79
549920,4465184E_CO,462121,2,106.972023,-6.875006,0,-78
549921,4465184E_CO,462121,2,106.972044,-6.874995,0,-79

In [ ]:
dask_gdf_mdt = dask_gpd.from_dask_dataframe(dask_df_mdt, geometry=dask_gpd.points_from_xy(dask_df_mdt['longitude'], dask_df_mdt['latitude']))

dask_gdf_mdt = dask_gdf_mdt.set_crs(4326)

grid = gpd.read_file('Grid Folder/Busy Intersection - Jorr - Jakarta Selatan Area.tab')

grid = grid.to_crs(4326)

In [ ]:
dask_gdf_mdt = dask_gdf_mdt.reset_index().reset_index()

In [ ]:
dask_gdf_mdt = dask_gdf_mdt.set_index('level_0')

In [ ]:
dask_gdf_mdt.head(5)

In [ ]:
dask_gpd_mdt = dask_gpd.sjoin(dask_gpd_mdt, grid, how='inner', predicate='intersects')

In [ ]:
dask_gpd_mdt[~dask_gpd_mdt['poly_name'].isnull()].to_feather('test.feather')