In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_colwidth', 1000)

In [3]:
test = pd.read_csv('sample-folder/cellrebel-rf.csv')

In [4]:
test['absolute_rf_channel_number'] = test['absolute_rf_channel_number'].fillna(0)

In [5]:
test['absolute_rf_channel_number'] = test['absolute_rf_channel_number'].astype(int)

In [6]:
test = test[test['mobile_operator'].str.contains('XL Axiata')]

In [7]:
# test = test[(test['absolute_rf_channel_number'] >= 9210) & (test['absolute_rf_channel_number'] <= 9659)]

In [8]:
test

         Unnamed: 0 mobile_operator    cell_id    tac  is_registered  network_mnc  network_mcc             created_date  latitude   longitude  gps_accuracy  timing_advance  reference_signal_received_quality  reference_signal_received_power  reference_signal_signal_to_noise_ratio  channel_quality_indicator  absolute_rf_channel_number  physical_cell_id  dbm  ss_reference_signal_to_noise_and_interference_ratio  ss_reference_signal_received_power  ss_reference_signal_received_quality     province               kabupaten band  dl_freq    ID_2           quadkey_19         quadkey_17
2698           2698       XL Axiata          0      0          False           11          510  2023-03-12 06:14:00.184 -6.237418  107.033860     54.070999    0.000000e+00                                NaN                            -92.0                                     NaN                        NaN                          92              24.0  -92                                                  NaN                                 NaN                                   NaN   Jawa Barat             Kota Bekasi  NaN      NaN  ID3275  3100130002231102313  31001300022311023
2699           2699       XL Axiata          0      0          False           11          510  2023-03-12 10:02:38.370 -6.237464  106.941578     15.548000    0.000000e+00                                NaN                           -101.0                                     NaN                        NaN                          93              48.0 -101                                                  NaN                                 NaN                                   NaN  Dki Jakarta      Kota Jakarta Timur  NaN      NaN  ID3172  3100130002221102202  31001300022211022
3895           3895       XL Axiata  268435455  65535          False           11          510  2023-03-12 08:16:00.083 -6.946974  107.505539      4.113000    2.147484e+09                              -16.0                           -115.0                                     NaN                        NaN                         351             161.0 -115                                                  NaN                                 NaN                                   NaN   Jawa Barat           Bandung Barat    3   1805.0  ID3217  3100130023330032330  31001300233300323
3896           3896       XL Axiata          0      0          False           11          510  2023-03-12 16:03:57.473 -6.267374  106.702567     16.110001    0.000000e+00                                NaN                            -94.0                                     NaN                        NaN                         617               8.0  -94                                                  NaN                                 NaN                                   NaN       Banten  Kota Tangerang Selatan  NaN      NaN  ID3674  3100121113320222102  31001211133202221
3897           3897       XL Axiata          0      0          False           11          510  2023-03-12 14:08:16.592 -6.325728  106.858046     34.400002    0.000000e+00                                NaN                           -111.0                                     NaN                        NaN                         619              19.0 -111                                                  NaN                                 NaN                                   NaN  Dki Jakarta      Kota Jakarta Timur  NaN      NaN  ID3172  3100121131111102333  31001211311111023
...             ...             ...        ...    ...            ...          ...          ...                      ...       ...         ...           ...             ...                                ...                              ...                                     ...                        ...                         ...               ...  ...                                                  ...                                 ...                                   ...          ...                     ...  ...      ...     ...                  ...                ...
2885687       12483       XL Axiata          0      0          False           11          510  2023-03-11 07:02:07.122 -6.003411  106.281038     42.500000    0.000000e+00                                NaN                            -84.0                                     NaN                        NaN                          90              55.0  -84                                                  NaN                                 NaN                                   NaN       Banten                  Serang  NaN      NaN  ID3604  3100121112010231332  31001211120102313
2885688       12484       XL Axiata          0  65535          False           11          510  2023-03-11 11:04:13.346 -6.216530  105.950017      2.300000    0.000000e+00                              -19.0                            -93.0                                     NaN                        NaN                         325             397.0  -93                                                  NaN                                 NaN                                   NaN       Banten                  Serang  NaN      NaN  ID3604  3100121103212313322  31001211032123133
2885689       12485       XL Axiata          0      0          False           11          510  2023-03-11 12:02:26.009 -6.215767  106.205700   2500.000000    0.000000e+00                              -19.0                           -117.0                                     NaN                        NaN                        1313             141.0 -117                                                  NaN                                 NaN                                   NaN       Banten                  Serang  NaN      NaN  ID3604  3100121112202312221  31001211122023122
2885690       12486       XL Axiata          0      0          False           11          510  2023-03-11 07:02:10.914 -6.003411  106.281038     42.500000    0.000000e+00                              -19.0                           -111.0                                     NaN                        NaN                         325             350.0 -111                                                  NaN                                 NaN                                   NaN       Banten                  Serang  NaN      NaN  ID3604  3100121112010231332  31001211120102313
2885697       12493       XL Axiata          0      0          False           11          510  2023-03-11 09:02:52.419 -6.003411  106.281038     42.500000    0.000000e+00                                NaN                            -90.0                                     NaN                        NaN                          90              55.0  -90                                                  NaN                                 NaN                                   NaN       Banten                  Serang  NaN      NaN  ID3604  3100121112010231332  31001211120102313

[562643 rows x 29 columns]

In [14]:
test['absolute_rf_channel_number'].astype('Int64').value_counts().to_excel('result/earfcn_xl.xlsx')