In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('result/prohet-activeuser-result-multiprocess-3.csv')

In [3]:
data['ds'] = pd.to_datetime(data['ds'])

In [4]:
data

                 ds          y   SECTOR-ID
0        2023-09-11  58.040442      Site-1
1        2023-09-12  58.859106      Site-1
2        2023-09-13  59.474026      Site-1
3        2023-09-14  59.881603      Site-1
4        2023-09-15  60.083392      Site-1
...             ...        ...         ...
12953088 2023-07-24   8.210000  Site-25244
12953089 2023-07-31   7.950000  Site-25244
12953090 2023-08-07   8.630000  Site-25244
12953091 2023-08-14  11.130000  Site-25244
12953092 2023-08-21   7.900000  Site-25244

[12953093 rows x 3 columns]

In [9]:
data['Remark'] = data.loc[data['ds'] > pd.to_datetime('2023-09-10')] == 'Forecast'

ValueError: Cannot set a DataFrame with multiple columns to the single column Remark